:root {
  --font: font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --black: #333;
}
html {
  font-size: 62.5%;
}
body {
  --font: var(--font);
  font-weight: 500;
  line-height: 1.8;
  font-size: 1.6rem;
  color:var(--black);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 15px;
}

